/* COMMON SYTLE */
* {
  box-sizing: border-box;
}

html {
  /* 스크롤 이동을 부드럽게! */
  scroll-behavior: smooth;
}

body {
  /* 글자 관련 기본(공통) 스타일 추가 */
  font-family: "Open Sans", "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color : #333;

}

/* 영문 전용 폰트 지정 */
.font-en {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color : #333;
}

.inner {
  max-width: 1200px;
  /* 가로 너비를 가진 블록 요소의 가운데 정렬 시 */
  margin : 0 auto;
}

.animate-flash{
  animation-name: flashboom;
  animation-duration: 0.5s;
  /* animation-iteration-count: 5; */
}

.purple {
  color: #9b30ff;
}

.title {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}

.title::after {
  content: "";
  display: block;
  background-color: #333;
  width: 80px;
  height: 2px;
  margin: 24px auto 0;
}

.btn {
  display: block;
  width: 120px;
  text-align: center;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: #333;
  color: #FFF;
}
.btn-brown {
  color: #592b18;
  border-color: #592b18;
}
.btn-brown:hover {
  color: #FFF;
  background-color: #592b18;
}

.btn-purple {
  color: #9b30ff;
  border-color: #9b30ff;
}
.btn-purple:hover {
  color: #FFF;
  background-color: #9b30ff;
}

img {
  /* 이미지가 인라인 요소라서 발생하는 문자 기준선(Baseline) 아래의 공간을 제거하기 위해 */
  display: block;
}
/* HEADER */

header {
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  box-shadow: 0 2px 8px rgba(204,204,204,0.8);

  /* 상단 고정 헤더 만들기 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
header .logo img {
  width: 40px;
}
header nav ul {
  display: flex;
  /* gap: 20px; */
}
header nav ul li {
  padding: 10px 20px;
  font-weight: bold;
}
header nav ul li a {
  /* relative 자체로는 아무 효과가 없지만 자식 요소가 부모의 position을 인식해야 할 경우,
   대체로 자식 요소의 position absolute를 주기 위해 사용됨 */
  position: relative;
}
header nav ul li a:hover {
  color: #9b30ff;
}
header nav ul li a::after { 

  /* ::after 가상 요소의 장점은 HTML 구조 추가와 class 속성 값의 추가 없이 구현 및 제어 가능 */
  content: ""; /* 필수 속성 */
  display: block;
  width: 0%; /* 초기에는 밑줄이 안보이도록 0으로 설정 */
  height: 4px;
  background-color: #9b30ff;
  border-radius: 2px;
  transition: 0.5s;
  
  position: absolute;
  left: 0;
  bottom: -5px;
}
header nav ul li a:hover::after {
  /* animation-name: testani; */
  /* animation-duration: 0.5s; */
  /* animation-iteration-count: 3; */
  width: 100%;
  transform: rotate(180deg);
}
/* @keyframes testani {
  from {width: 0%;}
  to {width: 100%;}
} */

/* Visual Section */
.visual {
  /* 헤더가 fixed 되어 일반 배치 흐름에서 벗어남(주변 요소들과 상호작용 X)
    헤더 다음에 오는 요소는 헤더의 높이만큼 외부 여백 추가해야함 */
  margin-top: 60px;
  width: 100%;
  background-color: #333;
  color: #FFF;
}
.visual > .inner {
  /* CSS에서 계산할 수 있게 해주는 함수 calc() */
  /* vh : viewPort height */
  height: calc(100vh - 60px);
  font-size: 70px;
  display: flex;
  align-items: center;

}

/* About Section */
.about {
  padding: 150px 0;
}

.about .inner {
  position: relative;
}

.about_wrapper {
  display: flex;
  justify-content: space-between;
}
.about .about_wrapper .about_img {
  width: 40%;
}
.about .about_wrapper .about_img img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
}

.about .about_wrapper .about_text {
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about .about_wrapper .about_text .slogan {
  font-size: 35px;
  font-weight: bold;
}
.about .about_wrapper .about_text h3 {
  font-size: 20px;
  font-weight: 600;
}
.about .about_wrapper .about_text h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}
.about .about_wrapper .about_text li {
  line-height: 1.8;
}
.about .about_btn {
  position: absolute;
  bottom: -30px;
  right: 30px;
}

.about .about_btn a {
  display: flex;
  align-items: center;
}
.about .about_btn a img{
  width: 30px;
  margin-right: 5px;
}

/* .about .about_btn img {
  display: inline;
  vertical-align: middle;
  width: 28px;
  margin-right: 10px;
} */

/* Skill Section */

.skill {
  padding: 150px 0;
  background-color: #000;
  color: #fff;
}

.skill .title::after{
  background-color: #fff;
}

.skill .skill__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
}

.skill .skill__list > li {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* 애니메이션 효과 추가 */
  /* 방법 1 : position */
  /* position: relative;
  top: 100px;
  opacity: 0;
  transition: 0.8s; */

  /* 방법 2: transform */

  transform: translateY(100px);
  opacity: 0;
}

.skill.show .skill__list > li{
  /* top: 0; */
  opacity: 1;
  transition: 0.8s;
  transform: translateY(0px);
}

.skill.show .skill__list > li:nth-child(1){transition-delay: 0.2s;}
.skill.show .skill__list > li:nth-child(2){transition-delay: 0.4s;}
.skill.show .skill__list > li:nth-child(3){transition-delay: 0.6s;}
.skill.show .skill__list > li:nth-child(4){transition-delay: 0.8s;}
.skill.show .skill__list > li:nth-child(5){transition-delay: 1s;}

.skill .skill__list li h3 {
  font-size: 30px;
  font-weight: bold;
  width: 50px;
  height: 40px;
  background-color: #9b30ff;
  border-radius: 50%;
  letter-spacing: -2px;
  transform: rotate(-20deg);
  transition: 0.5s;
}

.skill .skill__list li:hover h3{
  transform: rotate(0);
}

.skill .skill__list li h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0 20px;
}

/* Project Section */

.project {
  padding: 150px 0;
}

.project .port {
  display: flex;
  margin: 20px 0;
}

.project .port .port_img,
.project .port .port_text{
  width: 50%;
  height: 400px;
}

.project .port .port_img .swiper{
  width: 100%;
  height: 100%;
}

.project .port .port_img .swiper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project .port .port_text {
  padding: 30px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project .port .port_text h3{
  font-size: 20px;
  font-weight: 800;
}

.project .port .port_text li {
  line-height: 1.8;
}

.project .port .port_text li span {
  font-weight: bold;
}

.project .port .btn-group {
  display: flex;
  column-gap: 40px;
}

/* MODAL */

#imageModal {
  width: 100%;
  height: 100%;
  background-color: #3339;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  
  display: none;
  align-items: center;
  justify-content: center;
}

#imageModal .modal-content {
  background-color: transparent;
  color: #222;
  border: 8px;
}

#imageModal .modal-header {
  padding: 16px;
  background-color: #222;
  color: #FFF;
  border-radius: 8px 8px 0 0 ;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#imageModal .modal-header .btn-close {
  font-size: 30px;
  cursor: pointer;
}

#imageModal .modal-header .btn-close:hover {
  color: #AAA;
}

#imageModal .modal-body {
  padding: 16px;
  background-color: #FFF;
  border-radius: 0 0 8px 8px;
  object-fit: contain;
}




@keyframes flashboom {
  0%, 50%, 100%{opacity: 1;}
  25%, 75%{opacity: 0;}
}
