/* COMMON SYTLE */
* {
  box-sizing: border-box;
}

body {
  /* 글자 관련 기본(공통) 스타일 추가 */
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color : #333;

}

/* 영문 전용 폰트 지정 */
.font-en {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color : #333;
}

.inner {
  max-width: 1200px;
  /* 가로 너비를 가진 블록 요소의 가운데 정렬 시 */
  margin : 0 auto;
}

.animate-flash{
  animation-name: flashboom;
  animation-duration: 0.5s;
  /* animation-iteration-count: 5; */
  animation-delay: 3s;
}

.purple {
  color: #9b30ff;
}

/* HEADER */

header {
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  box-shadow: 0 2px 8px rgba(204,204,204,0.8);

  /* 상단 고정 헤더 만들기 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
header .logo img {
  width: 40px;
}
header nav ul {
  display: flex;
  /* gap: 20px; */
}
header nav ul li {
  padding: 10px 20px;
  font-weight: bold;
}
header nav ul li a {
  /* relative 자체로는 아무 효과가 없지만 자식 요소가 부모의 position을 인식해야 할 경우,
   대체로 자식 요소의 position absolute를 주기 위해 사용됨 */
  position: relative;
}
header nav ul li a:hover {
  color: #9b30ff;
}
header nav ul li a::after { 

  /* ::after 가상 요소의 장점은 HTML 구조 추가와 class 속성 값의 추가 없이 구현 및 제어 가능 */
  content: ""; /* 필수 속성 */
  display: block;
  width: 0%; /* 초기에는 밑줄이 안보이도록 0으로 설정 */
  height: 4px;
  background-color: #9b30ff;
  border-radius: 2px;
  transition: 0.5s;
  
  position: absolute;
  left: 0;
  bottom: -5px;
}
header nav ul li a:hover::after {
  /* animation-name: testani; */
  /* animation-duration: 0.5s; */
  /* animation-iteration-count: 3; */
  width: 100%;
  transform: rotate(180deg);
}
/* @keyframes testani {
  from {width: 0%;}
  to {width: 100%;}
} */

/* Visual Section */
.visual {
  /* 헤더가 fixed 되어 일반 배치 흐름에서 벗어남(주변 요소들과 상호작용 X)
    헤더 다음에 오는 요소는 헤더의 높이만큼 외부 여백 추가해야함 */
  margin-top: 60px;
  width: 100%;
  background-color: #333;
  color: #FFF;
}
.visual > .inner {
  /* CSS에서 계산할 수 있게 해주는 함수 calc() */
  /* vh : viewPort height */
  height: calc(100vh - 60px);
  font-size: 70px;
  display: flex;
  align-items: center;

}

@keyframes flashboom {
  0%, 50%, 100%{opacity: 1;}
  25%, 75%{opacity: 0;}
}
